$bg-color: #f3f3f3;
$shadow-color: darken( $bg-color, 25%);


.Catalogue {
  margin: 16vh 0;
}

.Catalogue__item {
  margin-bottom: 60px;
  box-shadow: 8px 12px 30px $shadow-color;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .Catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Catalogue__item {
    width: 45%;
  }
}

@media screen and (min-width: 900px) {
  .Catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Catalogue__item {
    width: 30%;
  }
}
